@import url("https://fonts.googleapis.com/css2?family=Handjet:wght@500&family=Hind&family=Poppins&family=Roboto:wght@300&family=Sigmar&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #444444;
}

section {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #111111;
    transition: 0.5s;
    overflow: hidden;
}

section.banner.active {
    right: 300px;
}

header {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

header .logo {
    color: #ffffff;
    text-transform: uppercase;
    cursor: pointer;
}

header .toggle {
    position: relative;
    height: 60px;
    width: 60px;
    background: url('/Assets/menu.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: center;
    cursor: pointer;
}

header .toggle.active {
    position: relative;
    height: 60px;
    width: 60px;
    background: url('/Assets/close.png');
    filter: invert(1);
    background-repeat: no-repeat;
    background-size: 26px;
    background-position: center;
    cursor: pointer;
}

section.banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner::after {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #0000ff, #ff0000);
    mix-blend-mode: overlay;
}

section .text {
    position: relative;
    z-index: 10; 
}

section .text h2 {
    font-size: 5em;
    color: #ffffff;
    font-weight: 800;
    line-height: 1em;
    text-transform: uppercase;
}

section .text h3 {
    font-size: 3em;
    color: #ffffff;
    font-weight: 600;
    line-height: 1em;
    text-transform: uppercase;
}

section .text p {
    position: relative;
    font-size: 1.1em;
    color: #ffffff;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
}

section .text .btn {
    display: inline-block;
    font-size: 1em;
    font-weight: 500;
    color: #111111;
    background: #ffffff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 3px;
    margin-top: 20px;
    letter-spacing: 2px;
    transition: 0.5s ease;
}

section .text .btn:hover {
    background-color: rgba(0,0,0,0.5);
    color: #ffffff;
    border: 1px solid #ffffff;
}

section .social {
    position: absolute;
    z-index: 10;
    bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .social li {
    list-style: none;
}


section .social li a {
    display: inline-block;
    margin-right: 20px;
    transform: scale(0.7);
    transition: 0.4s ease;
}

section .social li a:hover {
    transform: scale(1.07);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff;
}

.menu ul {
    position: relative;
    text-align: center;
}

.menu ul li {
    position: relative;
    list-style: none;
    margin: 18px 0;
    transition: 0.3s ease;
}

.menu ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #111111;
}

.menu ul li:hover {
    transform: scale(1.09);
}


/* Responsive Design */

@media (max-width: 991px) {
    section, section header {
        padding: 30px;
    }

    section .text h2 {
        font-size: 1.5rem;
        margin-top: 30px;
    }

    section .text h3 {
        font-size: 1rem;
    }

    section .text p {
        font-size: 0.8rem;
    }

    section.banner.active {
        right: 200px;
    }

    .menu ul {
        margin-left: 80px;
    }
}